@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  
}

.footer {
  display: flex;
  background-color: #eeeeee;
  justify-content: space-between;
  
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
margin-bottom: auto;
margin-top: auto;
}

body {
  display: flex;
  flex-direction: column;
  
}

.left-links {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  gap:8px;
}

.right-links {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  gap:8px;
}


a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: grey;

}




